@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #121214;
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url("../img/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h2 {
    color: orange;
}

/* main */
ol {
    padding: 0;
    list-style: none;
}

ul {
    list-style: none;
}

@media screen and (min-width: 1000px) {

    /* Menu */
    .bandeau {
        flex: 0.2;
        flex-direction: column;
        max-width: 100%;
        height: 100vh;
        background-color: #0a0903;
    }

    div.nav-left {
        width: 300px;
        text-align: right;
        margin: 50% auto;
        transition: opacity 1s ease;
    }

    div.nav-right {
        flex: 0.8;
        justify-content: center;
        align-self: center;
    }

    div.nav-right > section {
        animation-duration: 3s;
        animation-name: animatedText;
    }

    div.nav-left > section > ol > li {
        margin: 5%;
    }

    div.nav-left > section > ol > li > a {
        transition: color 0.2s ease;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        font-size: 0.6em;
        font-weight: bold;
        letter-spacing: 0.25em;
        padding: 1.35em 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    div.nav-left > section > ol > li > a:hover {
        color: rgba(255, 255, 255, 1);
    }

    div.nav-left > section > ol > li > a::before,
    div.nav-left > section > ol > li > a::after {
        width: 100%;
        border-radius: 0.2em;
        bottom: 0;
        content: '';
        height: 0.2em;
        position: absolute;
        right: 0;
        background-color: white;
        animation-duration: 3s;
        animation-name: animatedBar;
        transition: 1s;
    }

    div.nav-left > section > ol > li > a:hover::before,
    div.nav-left > section > ol > li > a:hover::after {
        background-color: orange;
    }

    div.nav-left > section > ol > li > a:hover,
    div.nav-left > section > ol > li > a:hover{
        color: #FFA500;
    }

    #boutonPlus {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 50px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.55);
        transition: 1s;
    }

    #boutonPlus:hover {
        border-color: rgba(255, 255, 255, 1)
    }
}

@media screen and (max-width: 999px) {

    body {
        display: block;
        font-size: 10px;
        background-color: #121214;
    }

    .bandeau {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: #0a0903;
        height: 5em;
    }

    .bandeau > .nav-left > section > ol {
        margin: 0 auto;
    }

    .bandeau > .nav-left > section > ol > li {
        display: inline-block;
        margin: 10px;
    }

    .bandeau > .nav-left > section > ol > li:hover {
        border-bottom: orange solid 2px;
    }

    .bandeau > div.nav-left > section > ol > li > a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 200;
        font-size: 1.1em;
    }

    .bandeau > div.nav-left > section > ol > li:hover > a {
        color: #FFA500;
    }
}

@media screen and (max-width: 620px) {

}


/* hyperliens */

a:hover {
    color: black;
}

/* Citation */

cite > a {
    color: black;
    text-decoration: none;
}

@keyframes animatedBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes animatedText {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
    }
}