@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    background-color: rgb(94, 66, 166);
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

/* main */

ol, ul {
    list-style: none;
}

/* Menu  a gauche */

div.left {
    flex: 0.4;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    transition: opacity 1s ease;
    background-color: rgb(49, 36, 80);
}

div.left > section > ol > li {
    margin: 10%;
}

div.left > section > ol > li > a {
    transition: color 0.2s ease;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
    padding: 1.35em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

div.left > section > ol > li > a:hover {
    color: rgba(255, 255, 255, 1);
}

div.left > section > ol > li > a::before, div.left > section > ol > li > a::after {
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 0.2em;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: white;
}

div.left > section > ol > li:hover > a::before, div.left > section > ol > li:hover > a::after {
    color: #a94c94;
}

/* Image a droite */

div.right {
    flex: 0.8;
    float: right;
    max-width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

/* hyperliens */

a:hover {
    color: black;
}

/* Citation */

cite > a {
    color: black;
    text-decoration: none;
}